body {
  background: #ffffff;
}

*{
  box-sizing: border-box;
}

.wrapper > * {
/* > betyder elementer under der hvor der står wrapper og * betyder alle elementer*/
    font-family: "avenir next", "verdana", sans-serif;
}

/*mobilefirst*/
.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100%;
  grid-template-columns: 1fr 1fr 1fr;
/* fr (fraktion, dele af skærmen) er enhederne der bliver brugt til at definere målene i grid*/
  grid-template-areas:
    "logo header nav"
    "some some some"
    "main main main"
    "footer footer footer";
}

.some {
  grid-area: some;
  justify-content: center;
}

.iconcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.logo {
  grid-area: logo;
  width: 40%;
  height: auto;
  margin-left: 20px;
  justify-content: center;
}

.header {
  grid-area: header;
  text-align: center;
  font-size: 50%;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}

.item{
  flex-grow: 1;
}

.user{
  flex-grow: 0.25;
}

.navigation{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  height: auto;
  background-color: #ffffff;
  width: auto;
  padding: 0;
}

ul{
  List-style: none;
  align-items: center;
}

a {
  font-family: serif;
  color:#000000;
  font-family: "avenir next", "verdana", serif;
  display: inline-block;
  width: 50%;
  padding: 20px 5px;
  text-align: center;
  text-decoration: none;
}

.main {
  grid-area: main;
}

.collage {
  align-items: center;
  margin: 0px 20px 0px 20px;
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "billede1"
    "billede2"
    "billede3"
    "billede4"
    "billede5"
    "billede6"
    "billede7"
    "billede8"
    "billede9" }

.billede {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer {
  text-align: center;
  font-size: 10px;
}

/*about me*/
.illustrationer {
  width: 15%;
  margin-left: 42.5%;
}


.section1 {
  background-color: #bdd4dd;
  border-radius: 35px;
  font-size: 10px;
  width: 85%;
  padding: 5%;
  margin: 7.5%;
}

.section2 {
  background-color: #7e938a;
  border-radius: 35px;
  font-size: 10px;
  width: 85%;
  padding: 5%;
  margin: 7.5%;
}

.section3 {
  background-color: #f3cde0;
  border-radius: 35px;
  font-size: 10px;
  width: 85%;
  padding: 5%;
  margin: 7.5%;
}

.contact {
  width: 60%;
  margin-left: 20%;
}

p {
  font-family: "avenir next", "verdana", sans-serif;
}

/*contact*/
.info {
  text-align: center
  border-radius: 35px;
  font-size: 10px;;
  width: 100%;
  padding: 7%;
  margin: auto;
  margin-bottom: 10%;
}

.contactsection1 {
  background-color: #bdd4dd;
  text-align: center;
  border-radius: 35px;
  font-size: 10px;
  width: 85%;
  padding: 5%;
  margin: 7.5%;
}

.contactsection2 {
  background-color: #7e938a;
  text-align: center;
  border-radius: 35px;
  font-size: 10px;
  width: 85%;
  padding: 5%;
  margin: 7.5%;
}

.illustrationer2 {
  width: 15%;
  margin-left: 42.5%;
}

.iconscontact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  align-items: center;
  font-size: 100%;;
}

/*indstillinger til de forskellige skærme*/
@media only screen and (max-width: 400px){
  .hide-on-mobile {
    display: none;
  }

/*burgermenu til mobilen*/
  .mobilknap {
    color: black;
    background-color: #ffffff;
    padding: 10px;
    border: none;
    margin-left: 70px;
  }

  .dropdown:hover .mobilknap {
    background: #f3cde0;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown:hover .indhold {
    display: block;
    color: #f3cde0;
  }

  .indhold {
    display: none;
    position: absolute;
    background: #ffffff;
    z-index: 1;
  /*handler om lag*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 10px;
  }

  .indhold a:hover {
    background-color: #f3cde0;
    width: 100%;
    }
}

/*ipad*/
@media only screen and (min-width: 400px){
  .wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  /* fr (fraktion, dele af skærmen) er enhederne der bliver brugt til at definere målene i grid*/
    grid-template-areas:
      "logo header some"
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }

  .collage {
    align-items: center;
    width: 85%;
    margin: 0% 7.5% 0% 7.5%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "billede1 billede2"
      "billede3 billede4"
      "billede5 billede6"
      "billede7 billede8"
      "billede9"
  }

  a:hover{
    background-color: #f3cde0;
    border-radius: 35px;
    width: auto;
  }

  .header {
    font-size: 100%;
  }

  .iconcontainer {
    height: auto;
    width: 50%;
    font-size: 150%;
    margin-left: 37%;
  }

  .dropdown {
      display: none;
  }

/*about me*/
  .illustrationer  {
    width: 10%;
    height: auto;
    margin-left: 45%;
    float: none;
  }

  .section1 {
      background-color: #bdd4dd;
      border-radius: 35px;
      width: 65%;
      padding: 5%;
      margin: 0% 17.5% 5% 17.5%;
      font-size: 80%;
  }

  .section2 {
      background-color: #7e938a;
      border-radius: 35px;
      width: 65%;
      margin: 0% 17.5% 5% 17.5%;
      font-size: 80%;
  }

  .section3 {
      background-color: #f3cde0;
      border-radius: 35px;
      width: 65%;
      margin: 0% 17.5% 5% 17.5%;
      font-size: 80%;
  }

 /*contact*/
  .contact {
    align-items: center;
    margin: auto;
    width: 85%;
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "info mobi mail"
    "info contactsection1 contactsection2"
  }

  .info {
    grid-area: info;
    font-size: 100%;
    padding: 5%;
    text-align: center;
  }

  .contactsection1 {
    grid-area: contactsection1;
    font-size: 80%;
    padding: 5%;
    text-align: center;
  }

  .contactsection2 {
    grid-area: contactsection2;
    font-size: 80%;
    padding: 5%;
    text-align: center;
  }

  .illustrationer2 {
    width: 30%;
  }
}


/*computer*/
@media only screen and (min-width: 800px){
  .wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  /* fr (fraktion, dele af skærmen) er enhederne der bliver brugt til at definere målene i grid*/
    grid-template-areas:
      "logo header some"
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }

  .collage {
    justify-content: center;
    display: grid;
    width: 85%;
    grid-gap: 2%;
    margin: 0% 7.5% 0% 7.5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "billede1 billede2  billede3"
      "billede4 billede5  billede6"
      "billede7 billede8  billede9"
  }

  .billede {
    width: 300px;
    height: auto;
  }

  .header {
    font-size: 110%;
    padding-top: 6%;
  }

  .iconcontainer {
    height: auto;
    width: 50%;
    font-size: 175%;
    margin-left: 45%;
    margin-top: 7%;
  }

  .section1 {
    font-size: 100%;
  }

  .section2 {
    font-size: 100%;
  }

  .section3 {
    font-size: 100%;
  }
}
