body {
  background: #ffffff;
}

*{
  box-sizing: border-box;
}

.wrapper > * {
/* > betyder elementer under der hvor der står wrapper og * betyder alle elementer*/
    border-radius: 0px;
    padding: 5px 0px 0px 5px;
/* mellemrummet mellem tekst og padding*/
    color: #373f51ff;
    font-family: "avenir next", serif;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100%;
  grid-template-columns: 3fr 1fr;
/* fr (fraktion, dele af skærmen) er enhederne der bliver brugt til at definere målene i grid*/
  grid-template-areas:
    "header some"
    "nav nav"
    "main main"
    "footer footer";
}

.header {
  grid-area: header;
}

.some {
  grid-area: some;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

.nav {
  grid-area: nav;
}

.footer {
  grid-area: footer;
}

.item{
  flex-grow: 1;
}

.user{
  flex-grow: 0.25;
}

.container{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  height: auto;
  background-color: #ffffff;
  width: auto;
  padding: 0;
}

ul{
  List-style: none;
  align-items: center;
}

a{
  font-family: serif;
  color:#373f51ff;
  font-family: "avenir next", serif;
  display: inline-block;
  width: 50%;
  padding: 20px 5px;
  text-align: center;
  text-decoration: none;
}

a:hover{
  background-color: #bcd4deff;
  border-radius: 40px;
}

.main {
  grid-area: main;
}

.collage {
  align-items: center;
  margin: auto;
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "billede1"
    "billede2"
    "billede3"
    "billede4"
    "billede5"
    "billede6"
    "billede7"
    "billede8"
    "billede9" }

.billede {
  width: 80%;
  height: auto;
  margin: auto;
}

.footer {
  text-align: center;
  font-size: 10px;
}

@media (min-width: 400px) {
  .collage {
    align-items: center;
    margin: auto;
    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "billede1 billede2"
      "billede3 billede4"
      "billede5 billede6"
      "billede7 billede8"
      "billede9" }

  .header {
    text-align: left;
  }
}

@media (min-width: 800px){

  .collage {
    max-width: 900px;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "billede1 billede2  billede3"
      "billede4 billede5  billede6"
      "billede7 billede8  billede9"}

  .billede {
    width: 300px;
    height: auto;
  }
}
